*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* #formulari{
    width: 100%;
    height: auto;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    resize: vertical;
}

label{
    padding: 12px 12px 12px 0;
    display: 
    inline-block;
}

.container{
border-radius: 5px;
background-color: white;
padding: 20px;
}

.col-25{
    float: left;
    width: 100%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 100%;
    margin-top: 6px;
}

input[type=submit]{
    background-color: aqua;
    color: black;
    margin-top: 20px;
    float: right;
    padding: 10px;
    border-radius: 8px;
} */

.contacte {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
}

.formulari{
    width: 50%;
    /* background-color: blue; */
}

.mapa{
    width: 50%;
    /* background-color: cyan; */
    padding-left: 10%;
}


ul{
    list-style:  none ;
}

li{
    padding: 2%;
}

button{
    font-size: 1.7rem;
}

input{
    width: 80%;
}

textarea{
    background-color: blueviolet;
}



@media screen and (max-width: 768px) {
    .contacte{
    flex-direction: column;
}

.formulari{
    width: 100%;
}

.mapa{
    width: 100%;
    padding-left: 0px;
}
}

