*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
    background-color: rgb(194, 179, 222);
}

.fanfacai{
    width: 40%;
    height: auto;
    padding-bottom: 10%;
}


.fanfacai img,img{
    width: 100%;
}


@media screen and (max-width: 768px) {

    main{
        flex-direction: column;
    }

    .fanfacai{
        width: 100%;
    }

}